* {
    box-sizing: border-box;
    color: gray;
    cursor: crosshair;
    font-size: 14px;
    letter-spacing: 0.5px;
    margin: 0 auto;
    padding: 0;
}

/* Background image */
body {
    background-image: url("doctor.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: white;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    margin: 0 auto;
    position: relative;
}

html, body {
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

/* width */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.2);
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.4);
    border-radius: 2px;
    border: 1px solid rgba(255, 255, 255, 0.6);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.8);
}

/* All placeholder input fields */
::placeholder {
    color: gray;
}

#container {
    width: 100%;
}

/* MyDoc Title */
.myDoc {
    color: white;
    font-family: 'Questrial', sans-serif;
    font-size: 80px;
    font-weight: 800;
    letter-spacing: 15px;
    margin: 100px 0 30px 0;
    text-align: center;
    text-transform: uppercase;
}


/* Feeling meh header */
.meh {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    margin-bottom: 30px;
    text-align: center;
}


/* Description on homepage */
.bio {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    margin-bottom: 50px;
    text-align: center;
}

/* Sign in below paragraph */
.begin {
    color: white;
    font-size: 13px;
    font-weight: 200;
    text-align: center;
}

/* MyDoc? text */
#login {
    border-top: none;
}

/* MyDoc? text */
strong.doc {
    color: white;
    font-size: 13px;
    font-weight: 400;
}

/* "Click here" link */
a.home {
    border-bottom: 1px solid #347ab7;
    color: #347ab7;
    cursor: alias;
    font-size: 13px;
    font-weight: 400;
}

/* "Click here" link, visited, active */
a.home:link:visited:active {
    border-bottom: 1px solid #347ab7;
    cursor: alias;
}

/* "Click here" hover */
a.home:hover {
    border-bottom: 1px dotted #347ab7;
    cursor: alias;
}

/* Log in box */
.log {
    margin-top: 20px;
    width: 50%;
    margin-left: 25%;
}

/* Log in box fields */
.login {
    background: transparent;
    border: 1px solid white;
    border-right: none;
    color: white;
    cursor: auto;
    font-family: 'Poppins', sans-serif;
    font-size: 11px;
    height: 26px;
    letter-spacing: 1px;
    padding: 0 8px;
    width: 100%;
}

/* Login button */
.input-group-addon {
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid white;
    color: gray;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 500;
    padding: 0 10px;
}

/* Login button on hover */
.input-group-addon:hover {
    background-color: rgba(255, 255, 255, 0.7);
    color: gray;
    cursor: cell;
}

/* Log in box removes border on click */
input {
    outline: none;
}

/* Form validation / error messages */
.red-text {
    color: rgb(184, 79, 79);
    font-size: 10px;
    margin: 3px;
    padding: 0;
    text-align: center;
}

/* MyDoc Sign Up header */
.heading {
    font-family: 'Spectral SC', serif;
    font-size: 50px;
    margin-top: 25px;
    text-align: center;
}

/* Sign up to create new account header */
.header {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 800;
    margin: 30px 0 15px 0;
    text-align: center;
}

/* New user input fields */
.input {
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    cursor: auto;
    height: 35px;
    letter-spacing: 1px;
    margin-top: 5px;
    outline: none;
    text-align: center;
    width: 100%;
}

/* Updated & register user button */
.update {
    background: rgba(167, 209, 231, 0.6);
    border-radius: 5px;
    color: white;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    margin-top: 10px;
    outline: none;
    text-align: center;
    text-transform: uppercase;
    width: 49%;
}

/* Updated user button on hover */
.update:hover {
    background: rgb(167, 209, 231);
    color: white;
    cursor: cell;
}

/* Updated user cancel button */
.cancel {
    background: rgba(226, 213, 197, 0.6);
    border-radius: 5px;
    color: white;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    margin-top: 10px;
    outline: none;
    text-align: center;
    text-transform: uppercase;
    width: 49%;
}

/* Updated user cancel button on hover */
.cancel:hover {
    background: rgba(226, 213, 197, 0.8);
    color: white;
    cursor: cell;
}

/* Update profile button */
.success {
    background: rgba(167, 209, 231, 0.6);
    color: white;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    outline: none;
    text-align: center;
    text-transform: uppercase;
    width: 49%;
}

/* Update profile button on hover */
.success:hover {
    background: rgba(167, 209, 231, 0.8);
    color: white;
    cursor: cell;
}

/* Delete profile button */
.danger {
    background: rgba(253, 193, 195, 0.6);
    color: white;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    outline: none;
    text-align: center;
    text-transform: uppercase;
    width: 49%;
}

/* Delete profile button on hover */
.danger:hover {
    background: rgba(253, 193, 195, 0.8);
    color: white;
    cursor: cell;
}

/* Nav bar */
.nav {
    color: #eee;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin: 20px 0;
    text-transform: uppercase;
}

/* Nav bar */
a.nav {
    background: rgba(255, 255, 255, 0.1);
    border: 1.4px solid rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    border-top: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin: 10px 5px;
    padding: 0px 10px;
    text-decoration: none;
}

/* Nav bar visited and active */
.nav:visited:active {
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

/* Nav bar on hover */
.nav:hover {
    background: rgba(255, 255, 255, 0.3);
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    cursor: cell;
}

/* Locate doctor header background */
#locate {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    color: gray;
    line-height: 35px;
    margin-top: 60px;
    padding: 15px 0;
}

/* Search for doctors input fields */
#doctorSearch {
    margin-top: 5px;
}

/* Search for doctors input fields */
.doctorSearch {
    border-radius: 5px;
    color: #999;
    cursor: auto;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    height: 35px;
    letter-spacing: 1px;
    margin-top: 5px;
    outline: none;
    text-align: center;
    width: 100%;
}
/* Search for doctors button */
.searchButton {
    color: #347ab7;
    cursor: alias;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    margin-top: 12px;
    text-align: center;
    text-decoration: underline;
}

/* Search for doctors button on hover */
.searchButton:hover {
    color: #347ab7;
    cursor: alias;
}

/* Doctors in your area */
/* Your profile header */
/* Single doctor full name & title */
.head {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    margin: 50px 0 15px 0;
    text-align: center;
    text-transform: uppercase;
}

/* User profile */
.userInfo {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 1.5px;
    padding: 5px;
    text-align: center;
}

/* User profile texts */
strong.pad {
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
}

/* Specialty select box */
select {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    margin-top: 5px;
    text-align-last: center;
}

/* Insurance select list on single doctor view */
.select {
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    font-family: 'Poppins', sans-serif;
    height: 30px;
    letter-spacing: 1px;
    margin: 5px 0 20px 0;
    text-align-last: center;
    width: 75%;
}

/* Single doctor view */
.drPad {
    margin-top: 10px;
}

/* Single doctor view */
.descPad {
    margin-top: 30px;
}

/* Doctor title on single doctor view */
.drTitle {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    width: 90%;
    padding: 15px 0;
    text-align: center;
    text-transform: uppercase;
}

/* Wraps doctors list */
.wrapper {
    height: 100%;
    margin: 0 auto;
    position: relative;
    width: 90%;
}

/* Adds background to doctors list of info */
.background {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    padding: 5px 30px;
    height: 100%;
}

/* Background behind google maps location*/
.bg {
    background-color:rgba(255, 255, 255, 0.5);
    border: 10px solid rgba(255, 255, 255, 0.3);
    display: table;
    margin-top: 50px;
    height: 400px;
    width: 55%;
    margin-left: 5%;
}

/* Google maps location centering words onto background */
.location {
    display: table-cell;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle; 
}

/* More doctor info link */
a.map-click {
    border-bottom: 1px solid #347ab7;
    color: #347ab7;
    cursor: alias;
    float: right;
    font-size: 13px;
    font-weight: 400;
}

/* More doctor info link on hover */
a.map-click:hover {
    border-bottom: 1px dotted #347ab7;
    color: #347ab7;
    cursor: alias;
}

/* Google maps */
#mapMain {
    background-color:rgba(255, 255, 255, 0.5);
    border: 10px solid rgba(255, 255, 255, 0.3);
    height: 400px;
    margin-top: 50px;
    margin-bottom: 40px;
    margin-left: 6%;
    width: 85%;
}

/* Single doctor google maps view */
#doctor-map {
    background-color:rgba(255, 255, 255, 0.5);
    border: 10px solid rgba(255, 255, 255, 0.1);
    height: 450px;
    /* margin-left: 12.5%; */
    /* margin-right: 12.5%; */
    width: 90%;
}

.uppercase {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.description {
    font-weight: 200;
}

/* Doctor's info on google maps marker */
#content {
    padding-bottom: 15px;
    text-align: center;
}

/* Doctor's name & title on google maps marker */
.firstHeading {
    font-family: 'Poppins', sans-serif;
}

/* Specialty on google maps marker */
.specialtyName {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
}

/* Doctor's bio on google maps marker */
.doctorDescription {
    font-family: 'Pavanam', sans-serif;
    text-align: justify;
}

/* FOOTER */

#footer {
    bottom: 0;
    height: 20px;
    margin: 0 auto;
    position: absolute;
    max-width: 100%;
}

.title {
    color: rgba(128, 128, 128, 0.7);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
}

.body {
    color: rgba(255, 255, 255, 0.9);
    font-family: 'Questrial', sans-serif;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 14px;
    text-align: center;
}

.glyphicon-heart {
    color: rgba(128, 128, 128, 0.7);
    font-size: 12px;
}

.fa-copyright {
    color: rgba(255, 255, 255, 0.9);
}