<div ng-controller="accountController" class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-5">
      <a ui-sref="doctors" class="nav">Doctors Search</a>
      <a ng-click="logout()" class="nav">Logout</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-4">
      <h1 class="head">Your Profile</h1>
    </div>
  </div>
  <div class="col-md-4 col-md-offset-5" style="margin-top: 10px;">
    <div class="row">
      <p class="userInfo" ng-model="user.firstName">
        <strong class="pad">First Name: </strong>{{ loadedUser.firstName }}</p>
    </div>
    <div class="row">
      <p class="userInfo" ng-model="user.lastName">
        <strong class="pad">Last Name: </strong>{{ loadedUser.lastName }}</p>
    </div>
    <div class="row">
      <p class="userInfo" ng-model="user.email">
        <strong class="pad">Email Address: </strong>{{ loadedUser.email }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-6">
      <button class="btn btn-default btn-sm" ui-sref="userUpdate({id: loadedUser.id})">Update</button>
      <button class="btn btn-danger btn-sm" ng-click="deleteUser(loadedUser)">Delete</button>
    </div>
  </div>
</div>