<div id="wrapper" class="container" style="padding-bottom: 30px;">
  <div class="col-sm-4 col-sm-offset-9" style="margin-bottom: 50px">
    <a ui-sref="account" class="nav">Profile</a>
    <a ui-sref="doctors" class="nav">Back</a>
    <a ui-sref="logout" class="nav">Logout</a>
  </div>
  <div class="wrapper">
    <div class="background col-sm-12">
      <div class="col-sm-6 drPad">
        <h3 class="drTitle">{{ doctor.profile.first_name + ' ' + doctor.profile.middle_name + ' ' + ' ' + doctor.profile.last_name + ', ' + doctor.profile.title
          }}</h3>
        <div id="doctor-map"></div>
      </div>
      <div class="col-sm-6 descPad">
        <div class="row">
          <p class="description"><strong class="uppercase">Bio: </strong>{{ doctor.profile.bio }}</p>
        </div>
        <div class="row">
          <p class="description"><strong class="uppercase">Specialty: </strong>{{ doctor.specialties[0].name }}</p>
          <p class="description">{{ doctor.specialties[1].name }}</p>
          <p class="description">{{ doctor.specialties[2].name }}</p>
        </div>
        <div class="row">
          <p class="description"><strong class="uppercase">Description: </strong>{{ doctor.specialties[0].description }}</p>
          <p class="description">{{ doctor.specialties[1].description }}</p>
          <p class="description">{{ doctor.specialties[2].description }}</p>
        </div>
        <div class="row">
          <p class="description"><strong class="uppercase">Gender: </strong>{{ doctor.profile.gender }}</p>
        </div>
        <div class="row">
          <p class="description"><strong class="uppercase">NPI: </strong>{{ doctor.npi }}</p>
        </div>
        <div class="row">
          <p class="description"><strong class="uppercase">License: </strong>{{ doctor.licenses[0].state + ' ' + doctor.licenses[1].number }}</p>
        </div>
        <div class="row">
          <p class="description"><strong class="uppercase">Facility Name: </strong>{{ doctor.practices[0].name }}</p>
        </div>
        <div class="row">
          <p class="description"><strong class="uppercase">Accepting New Patients? </strong>{{ doctor.practices[0].accepts_new_patients }}</p>
        </div>
        <div class="row">
          <p class="description"><strong class="uppercase">Address: </strong>{{ doctor.practices[0].visit_address.street + ' ' + doctor.practices[0].visit_address.street2
            + ', ' + doctor.practices[0].visit_address.city + ', ' + doctor.practices[0].visit_address.state + ' ' + doctor.practices[0].visit_address.zip
            }}</p>
        </div>
        <div class="row">
          <p class="description"><strong class="uppercase">Phone Number: </strong>{{ doctor.practices[0].phones[0].number }}</p>
        </div>
        <div class="row">
          <p class="description"><strong class="uppercase">Fax Number: </strong>{{ doctor.practices[0].phones[1].number }}</p>
        </div>
        <div class="row">
          <p class="description"><strong class="uppercase">Language(s) Spoken: </strong>{{ doctor.practices[0].languages[0].name }}</p>
          <p class="description">{{ doctor.practices[0].languages[1].name }}</p>
          <p class="description">{{ doctor.practices[0].languages[2].name }}</p>
        </div>
        <div class="row">
          <p class="description"><strong class="uppercase">Insurance(s) Accepted: </strong></p>
        </div>
        <div class="row">
          <select type="text" class="select">
            <option>{{ doctor.practices[0].insurance_uids[0] }}</option>
            <option>{{ doctor.practices[0].insurance_uids[1] }}</option>
            <option>{{ doctor.practices[0].insurance_uids[2] }}</option>
            <option>{{ doctor.practices[0].insurance_uids[3] }}</option>
            <option>{{ doctor.practices[0].insurance_uids[4] }}</option>
            <option>{{ doctor.practices[0].insurance_uids[5] }}</option>
            <option>{{ doctor.practices[0].insurance_uids[6] }}</option>
            <option>{{ doctor.practices[0].insurance_uids[7] }}</option>
            <option>{{ doctor.practices[0].insurance_uids[8] }}</option>
            <option>{{ doctor.practices[0].insurance_uids[9] }}</option>
            <option>{{ doctor.practices[0].insurance_uids[10] }}</option>
            <option>{{ doctor.practices[0].insurance_uids[11] }}</option>
            <option>{{ doctor.practices[0].insurance_uids[12] }}</option>
            <option>{{ doctor.practices[0].insurance_uids[13] }}</option>
            <option>{{ doctor.practices[0].insurance_uids[14] }}</option>
            <option>{{ doctor.practices[0].insurance_uids[15] }}</option>
            <option>{{ doctor.practices[0].insurance_uids[16] }}</option>
            <option>{{ doctor.practices[0].insurance_uids[17] }}</option>
            <option>{{ doctor.practices[0].insurance_uids[18] }}</option>
            <option>{{ doctor.practices[0].insurance_uids[19] }}</option>
            <option>{{ doctor.practices[0].insurance_uids[20] }}</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>