<div ng-controller="doctorController" class="container">
  <ul class="text-center">
    <li class="navbar">
      <a ui-sref="userCreate" class="navbar">Sign Up</a> -
      <a ui-sref="login" class="navbar">Login</a>
    </li>
  </ul>
  <div class="row">
    <div class="col-md-4" id="search">
      <label>Doctor:</label>
      <input type="text" class="form-control" ng-model="searchText" placeholder="Search by Doctor">
    </div>
    <div class="col-md-3" id="search">
      <label>Specialty:</label>
      <select class="form-control">
        <option value="">Search by Specialty</option>
        <option value="Speech Therapy">Speech Therapy</option>
        <option value="Spinal Cord Injury Medicine">Spinal Cord Injury Medicine</option>
        <option value="Legal Medicine">Legal Medicine</option>
        <option value="Chiropractic Medical Examiner">Chiropractic Medical Examiner</option>
        <option value="Psych/Mental Health Nurse Practitioner">Psych/Mental Health Nurse Practitioner</option>
        <option value="MOHS-Micrographic Surgery">MOHS-Micrographic Surgery</option>
        <option value="Neuropathology">Neuropathology</option>
        <option value="Nuclear Cardiology">Nuclear Cardiology</option>
        <option value="Nuclear Imaging Therapy">Nuclear Imaging & Therapy</option>
        <option value="Occupational Medicine">Occupational Medicine</option>
        <option value="Body Imaging">Body Imaging</option>
        <option value="Critical Care Medicine OBGYN">Critical Care Medicine OBGYN</option>
        <option value="Dental Laboratory Technician">Dental Laboratory Technician</option>
        <option value="Dental Therapist">Dental Therapist</option>
        <option value="Dentistry">Dentistry</option>
        <option value="Clinical Pathology">Clinical Pathology</option>
        <option value="Allergy Immunology Allergy">Allergy & Immunology Allergy</option>
        <option value="Group Psychotherapy">Group Psychotherapy</option>
        <option value="Internal Medicine Clinical Laboratory Immunology">Internal Medicine Clinical & Laboratory Immunology</option>
        <option value="Clinical Laboratory Dermatological Immunology">Clinical & Laboratory Dermatological Immunology</option>
        <option value="Dermatology">Dermatology</option>
        <option value="Dermatopathology">Dermatopathology</option>
        <option value="Occupational Therapy Assistant">Occupational Therapy Assistant</option>
        <option value="Occupational Therapy Assistant Feeding, Eating Swallowing">Occupational Therapy Assistant Feeding, Eating & Swallowing</option>
        <option value="Occupational Therapy Assistant Low Vision">Occupational Therapy Assistant Low Vision</option>
        <option value="Occupational Therapy Assistant Driving and Community Mobility">Occupational Therapy Assistant Driving and Community Mobility</option>
        <option value="Urology">Urology</option>
        <option value="Vision Therapy">Vision Therapy</option>
        <option value="Oral and Maxillofacial Pathology">Oral and Maxillofacial Pathology</option>
        <option value="Oral Maxillofacial Surgery">Oral & Maxillofacial Surgery</option>
        <option value="Pain Medicine">Pain Medicine</option>
        <option value="Chiropractic Pediatrics">Chiropractic Pediatrics</option>
        <option value="Pediatric Physical Therapy">Pediatric Physical Therapy</option>
        <option value="Pediatric Rheumatology">Pediatric Rheumatology</option>
        <option value="Pediatric Pulmonology">Pediatric Pulmonology</option>
        <option value="Pediatric Dermatology">Pediatric Dermatology</option>
        <option value="Blood Banking Transfusion Medicine">Blood Banking & Transfusion Medicine</option>
        <option value="Otolaryngology">Otolaryngology</option>
        <option value="Facial Plastic Surgery">Facial Plastic Surgery</option>
        <option value="Medical Microbiology">Medical Microbiology</option>
        <option value="Family Medicine Hospice and Palliative Medicine">Family Medicine Hospice and Palliative Medicine</option>
        <option value="Low Vision Rehabilitation">Low Vision Rehabilitation</option>
        <option value="Family Medicine Sleep Medicine">Family Medicine Sleep Medicine</option>
        <option value="Pediatric Radiology">Pediatric Radiology</option>
        <option value="Chiropractic Rehabilitation">Chiropractic Rehabilitation</option>
        <option value="Radiology Podiatry">Radiology Podiatry</option>
        <option value="Psychiatry Neurology Forensic Psychiatry">Psychiatry & Neurology Forensic Psychiatry</option>
        <option value="Pulmonary Function Technologist">Pulmonary Function Technologist</option>
        <option value="Primary Care Nurse Practitioner">Primary Care Nurse Practitioner</option>
        <option value="Professional Counseling">Professional Counseling</option>
        <option value="Psychiatry">Psychiatry</option>
        <option value="Psychiatry Neurology Addiction Medicine">Psychiatry & Neurology Addiction Medicine</option>
        <option value="Phlebology">Phlebology</option>
        <option value="Physical Medicine Rehabilitation">Physical Medicine & Rehabilitation</option>
        <option value="Pedorthist">Pedorthist</option>
        <option value="Plastic Surgery Plastic Surgery Within the Head and Neck">Plastic Surgery Plastic Surgery Within the Head and Neck</option>
        <option value="Plastic Surgery">Plastic Surgery</option>
        <option value="Physical Therapy">Physical Therapy</option>
        <option value="Foot Surgery">Foot Surgery</option>
        <option value="Rehabilitation Counselor">Rehabilitation Counselor</option>
        <option value="Respiratory Therapist, Certified Pulmonary Diagnostics">Respiratory Therapist, Certified Pulmonary Diagnostics</option>
        <option value="Rehabilitation Psychology">Rehabilitation Psychology</option>
        <option value="Respiratory Therapist, Registered Pulmonary Diagnostics">Respiratory Therapist, Registered Pulmonary Diagnostics</option>
        <option value="Respiratory Therapist, Registered SNF/Subacute Care">Respiratory Therapist, Registered SNF/Subacute Care</option>
        <option value="Rheumatology">Rheumatology</option>
        <option value="Chiropractic Radiology">Chiropractic Radiology</option>
        <option value="Adult Reconstructive Orthopedic Surgery">Adult Reconstructive Orthopedic Surgery</option>
        <option value="Respiratory Therapist, Certified General Care">Respiratory Therapist, Certified General Care</option>
        <option value="Respiratory Therapist, Certified Educational">Respiratory Therapist, Certified Educational</option>
        <option value="Respiratory Therapist, Certified Geriatric Care">Respiratory Therapist, Certified Geriatric Care</option>
        <option value="Respiratory Therapist, Certified">Respiratory Therapist, Certified</option>
        <option value="Preventive Medical Toxicology">Preventive Medical Toxicology</option>
        <option value="Primary Podiatric Medicine">Primary Podiatric Medicine</option>
        <option value="Procedural Dermatology">Procedural Dermatology</option>
        <option value="Psychiatry Neurology Behavioral Neurology Neuropsychiatry">Psychiatry & Neurology Behavioral Neurology & Neuropsychiatry</option>
        <option value="Psychiatry Neurology Diagnostic Neuroimaging">Psychiatry & Neurology Diagnostic Neuroimaging</option>
        <option value="Psychiatry Neurology Psychosomatic Medicine">Psychiatry & Neurology Psychosomatic Medicine</option>
        <option value="Respiratory Therapist, Certified Critical Care">Respiratory Therapist, Certified Critical Care</option>
        <option value="Orthopedic Sports Medicine">Orthopedic Sports Medicine</option>
        <option value="Respiratory Therapist, Certified SNF/Subacute Care">Respiratory Therapist, Certified SNF/Subacute Care</option>
        <option value="Respiratory Therapist, Registered Critical Care">Respiratory Therapist, Registered Critical Care</option>
        <option value="School Counseling">School Counseling</option>
        <option value="Technician/Technologist Ocularist">Technician/Technologist Ocularist</option>
        <option value="Acupuncture">Acupuncture</option>
        <option value="Acute Care Nurse Practitioner">Acute Care Nurse Practitioner</option>
        <option value="Addiction Psychiatry">Addiction Psychiatry</option>
        <option value="Clinical Psychology">Clinical Psychology</option>
        <option value="Anaplastologist">Anaplastologist</option>
        <option value="Aerospace Medicine">Aerospace Medicine</option>
        <option value="Anesthesiology">Anesthesiology</option>
        <option value="Cardiopulmonary Physical Therapy">Cardiopulmonary Physical Therapy</option>
        <option value="Health Service Psychology">Health Service Psychology</option>
        <option value="Developmental Therapist">Developmental Therapist</option>
        <option value="Developmental Behavioral Pediatrics">Developmental Behavioral Pediatrics</option>
        <option value="Forensic Psychology">Forensic Psychology</option>
        <option value="Geriatric Psychiatry">Geriatric Psychiatry</option>
        <option value="Clinical Pharmacology">Clinical Pharmacology</option>
        <option value="Critical Care Medicine">Critical Care Medicine</option>
        <option value="Audiology Hearing Aid Fitter">Audiology & Hearing Aid Fitter</option>
        <option value="Hospice and Palliative Medicine">Hospice and Palliative Medicine</option>
        <option value="Independent Medical Examiner">Independent Medical Examiner</option>
        <option value="Internal Medicine Adolescent Medicine">Internal Medicine Adolescent Medicine</option>
        <option value="Internal Medicine Bariatric Medicine">Internal Medicine Bariatric Medicine</option>
        <option value="Internal Medicine Sports Medicine">Internal Medicine Sports Medicine</option>
        <option value="Internal Medicine">Internal Medicine</option>
        <option value="Clinical Pathology/Laboratory Medicine">Clinical Pathology/Laboratory Medicine</option>
        <option value="Interventional Cardiology">Interventional Cardiology</option>
        <option value="Medical Genetics Molecular Genetic Pathology">Medical Genetics Molecular Genetic Pathology</option>
        <option value="Nutrition Medicine">Nutrition Medicine</option>
        <option value="Obstetrics Gynecology Female Pelvic Medicine and Reconstructive">Obstetrics & Gynecology Female Pelvic Medicine and Reconstructive</option>
        <option value="Surgery">Surgery</option>
        <option value="Obstetrics Gynecology">Obstetrics & Gynecology</option>
        <option value="Occupational Therapist">Occupational Therapist</option>
        <option value="Music Therapist">Music Therapist</option>
        <option value="Neuromusculoskeletal Medicine OMM">Neuromusculoskeletal Medicine & OMM</option>
        <option value="Neonatal, Critical Care Nurse Practitioner">Neonatal, Critical Care Nurse Practitioner</option>
        <option value="Neurological Surgery">Neurological Surgery</option>
        <option value="Nuclear Medicine">Nuclear Medicine</option>
        <option value="Occupational Therapist Ergonomics">Occupational Therapist Ergonomics</option>
        <option value="Occupational Therapist Environmental Modification">Occupational Therapist Environmental Modification</option>
        <option value="Chiropractic Orthopedics">Chiropractic Orthopedics</option>
        <option value="Otology Neurotology">Otology & Neurotology</option>
        <option value="Ophthalmology">Ophthalmology</option>
        <option value="Hematology Oncology">Hematology & Oncology</option>
        <option value="Diagnostic Ultrasound">Diagnostic Ultrasound</option>
        <option value="Cardiothoracic Surgery">Cardiothoracic Surgery</option>
        <option value="Emergency Medicine Hospice and Palliative Medicine">Emergency Medicine Hospice and Palliative Medicine</option>
        <option value="Pediatric Cardiology">Pediatric Cardiology</option>
        <option value="Environmental Preventive Medicine">Environmental Preventive Medicine</option>
        <option value="Dietitian, Registered">Dietitian, Registered</option>
        <option value="Mental Health Counseling">Mental Health Counseling</option>
        <option value="Nephrology">Nephrology</option>
        <option value="Pediatric Emergency Medicine">Pediatric Emergency Medicine</option>
        <option value="Preventive Medicine">Preventive Medicine</option>
        <option value="Podiatry">Podiatry</option>
        <option value="Pediatric Gastroenterology">Pediatric Gastroenterology</option>
        <option value="Pediatric Nurse Practitioner">Pediatric Nurse Practitioner</option>
        <option value="Otolaryngology/Facial Plastic Surgery">Otolaryngology/Facial Plastic Surgery</option>
        <option value="Orthotist">Orthotist</option>
        <option value="Pastoral Counseling">Pastoral Counseling</option>
        <option value="Pediatrics">Pediatrics</option>
        <option value="Pediatric Optometry">Pediatric Optometry</option>
        <option value="Medical Toxicology">Medical Toxicology</option>
        <option value="Addiction Medicine">Addiction Medicine</option>
        <option value="Allergy Immunology Clinical Laboratory Immunology">Allergy & Immunology Clinical & Laboratory Immunology</option>
        <option value="Adolescent Medicine">Adolescent Medicine</option>
        <option value="Pediatric Critical Care Medicine">Pediatric Critical Care Medicine</option>
        <option value="Cytopathology">Cytopathology</option>
        <option value="Dental Assistant">Dental Assistant</option>
        <option value="Dentist Dental Public Health">Dentist Dental Public Health</option>
        <option value="Anatomic Pathology">Anatomic Pathology</option>
        <option value="Art Therapist">Art Therapist</option>
        <option value="Counseling Psychology">Counseling Psychology</option>
        <option value="Denturist">Denturist</option>
        <option value="Cognitive Behavioral Psychology">Cognitive & Behavioral Psychology</option>
        <option value="Child Adolescent Psychiatry">Child & Adolescent Psychiatry</option>
        <option value="Dentist Dentist Anesthesiologist">Dentist Dentist Anesthesiologist</option>
        <option value="Dermatopathology">Dermatopathology</option>
        <option value="Diagnostic Neuroimaging">Diagnostic Neuroimaging</option>
        <option value="Family Nurse Practitioner">Family Nurse Practitioner</option>
        <option value="Hospice and Palliative Medicine">Hospice and Palliative Medicine</option>
        <option value="Hospice and Palliative Medicine">Hospice and Palliative Medicine</option>
        <option value="Hospitalist">Hospitalist</option>
        <option value="Plastic Surgery within the Head Neck">Plastic Surgery within the Head & Neck</option>
        <option value="General Practice">General Practice</option>
        <option value="Surgery">Surgery</option>
        <option value="Gynecology">Gynecology</option>
        <option value="Chiropractic Internal Medicine">Chiropractic Internal Medicine</option>
        <option value="Massage Therapy">Massage Therapy</option>
        <option value="Neuroradiology">Neuroradiology</option>
        <option value="Nuclear Radiology">Nuclear Radiology</option>
        <option value="Occupational Therapist Human Factors">Occupational Therapist Human Factors</option>
        <option value="Internal Medicine Allergy Immunology">Internal Medicine Allergy & Immunology</option>
        <option value="Internal Medicine Magnetic Resonance Imaging (MRI)">Internal Medicine Magnetic Resonance Imaging (MRI)</option>
        <option value="Podiatrist General Practice">Podiatrist General Practice</option>
        <option value="Occupational Therapist Physical Rehabilitation">Occupational Therapist Physical Rehabilitation</option>
        <option value="Occupational Therapy Assistant Environmental Modification">Occupational Therapy Assistant Environmental Modification</option>
        <option value="Medical Oncology">Medical Oncology</option>
        <option value="Nurse Practitioner">Nurse Practitioner</option>
        <option value="Optometry">Optometry</option>
        <option value="Urology Female Pelvic Medicine and Reconstructive Surgery">Urology Female Pelvic Medicine and Reconstructive Surgery</option>
        <option value="Oral and Maxillofacial Radiology">Oral and Maxillofacial Radiology</option>
        <option value="Orthodontics">Orthodontics</option>
        <option value="Diagnostic Radiology">Diagnostic Radiology</option>
        <option value="Endocrinology, Diabetes Metabolism">Endocrinology, Diabetes & Metabolism</option>
        <option value="Endodontics">Endodontics</option>
        <option value="Family Medicine Geriatric Medicine">Family Medicine Geriatric Medicine</option>
        <option value="Family Medicine Bariatric Medicine">Family Medicine Bariatric Medicine</option>
        <option value="In Vivo In Vitro Nuclear Medicine">In Vivo & In Vitro Nuclear Medicine</option>
        <option value="Interventional Pain Medicine">Interventional Pain Medicine</option>
        <option value="Mastectomy Fitter">Mastectomy Fitter</option>
        <option value="Maternal Fetal Medicine">Maternal & Fetal Medicine</option>
        <option value="Pediatric Hematology Oncology">Pediatric Hematology & Oncology</option>
        <option value="Pediatric Pathology">Pediatric Pathology</option>
        <option value="Pediatric Transplant Hepatology">Pediatric Transplant Hepatology</option>
        <option value="Psychiatry Neurology Bariatric Medicine">Psychiatry & Neurology Bariatric Medicine</option>
        <option value="Psychiatry Neurology Hospice and Palliative Medicine">Psychiatry & Neurology Hospice and Palliative Medicine</option>
        <option value="Podiatrist Public Medicine">Podiatrist Public Medicine</option>
        <option value="Preventive Sports Medicine">Preventive Sports Medicine</option>
        <option value="Neurology">Neurology</option>
        <option value="Neurodevelopmental Disability">Neurodevelopmental Disability</option>
        <option value="Otolaryngic Allergy">Otolaryngic Allergy</option>
        <option value="Neurology Physical Therapy">Neurology Physical Therapy</option>
        <option value="Pediatric Nephrology">Pediatric Nephrology</option>
        <option value="Pediatric Neurology">Pediatric Neurology</option>
        <option value="Periodontics">Periodontics</option>
        <option value="Plastic Surgery Surgery of the Hand">Plastic Surgery Surgery of the Hand</option>
        <option value="Psychoanalysis">Psychoanalysis</option>
        <option value="Psychology">Psychology</option>
        <option value="Respiratory Therapist, Certified Patient Transport">Respiratory Therapist, Certified Patient Transport</option>
        <option value="Rehabilitation Practitioner">Rehabilitation Practitioner</option>
        <option value="Recreation Therapist">Recreation Therapist</option>
        <option value="Radiation Oncology">Radiation Oncology</option>
        <option value="Rehabilitation Counselor Orientation and Mobility Training Provider">Rehabilitation Counselor Orientation and Mobility Training Provider</option>
        <option value="Technician/Technologist Contact Lens Fitter">Technician/Technologist Contact Lens Fitter</option>
        <option value="Technician/Technologist Ophthalmic Assistant">Technician/Technologist Ophthalmic Assistant</option>
        <option value="Technician/Technologist Optometric Assistant">Technician/Technologist Optometric Assistant</option>
        <option value="School Psychology">School Psychology</option>
        <option value="Specialist/Technologist Athletic Trainer">Specialist/Technologist Athletic Trainer</option>
        <option value="Respiratory Therapist, Registered Pulmonary Rehabilitation">Respiratory Therapist, Registered Pulmonary Rehabilitation</option>
        <option value="Surgery Surgical Critical Care">Surgery Surgical Critical Care</option>
        <option value="Surgery Trauma Surgery">Surgery Trauma Surgery</option>
        <option value="Surgical Oncology">Surgical Oncology</option>
        <option value="Technician/Technologist Ophthalmic">Technician/Technologist Ophthalmic</option>
        <option value="Respiratory Therapist, Registered General Care">Respiratory Therapist, Registered General Care</option>
        <option value="Respiratory Therapist, Registered Patient Transport">Respiratory Therapist, Registered Patient Transport</option>
        <option value="Respiratory Therapist, Registered Palliative/Hospice">Respiratory Therapist, Registered Palliative/Hospice</option>
        <option value="Chiropractic Sports Medicine">Chiropractic Sports Medicine</option>
        <option value="Specialist/Technologist">Specialist/Technologist</option>
        <option value="Respiratory Therapist, Registered Educational">Respiratory Therapist, Registered Educational</option>
        <option value="Respiratory Therapist, Registered Emergency Care">Respiratory Therapist, Registered Emergency Care</option>
        <option value="Orthopedic Surgery of the Spine">Orthopedic Surgery of the Spine</option>
        <option value="Respiratory Therapist, Registered Home Health">Respiratory Therapist, Registered Home Health</option>
        <option value="Technician/Technologist Contact Lens">Technician/Technologist Contact Lens</option>
        <option value="Orthopedic Trauma">Orthopedic Trauma</option>
        <option value="Undersea and Hyperbaric Medicine">Undersea and Hyperbaric Medicine</option>
        <option value="Technician/Technologist Optician">Technician/Technologist Optician</option>
        <option value="Technician/Technologist Optometric Technician">Technician/Technologist Optometric Technician</option>
        <option value="Transplant Surgery">Transplant Surgery</option>
        <option value="Addiction Psychology">Addiction Psychology</option>
        <option value="Allergy Immunology">Allergy & Immunology</option>
        <option value="Corneal and Contact Management">Corneal and Contact Management</option>
        <option value="Colon Rectal Surgery">Colon & Rectal Surgery</option>
        <option value="Critical Care Medicine">Critical Care Medicine</option>
        <option value="Counseling">Counseling</option>
        <option value="Dental Hygienist">Dental Hygienist</option>
        <option value="Health Psychology">Health Psychology</option>
        <option value="Human Factor Physical Therapy">Human Factor Physical Therapy</option>
        <option value="Medical Genetics, Ph.D. Medical Genetics">Medical Genetics, Ph.D. Medical Genetics</option>
        <option value="Geriatrics Physical Therapy">Geriatrics Physical Therapy</option>
        <option value="Hand Physical Therapy">Hand Physical Therapy</option>
        <option value="Foot and Ankle Surgery">Foot and Ankle Surgery</option>
        <option value="Family Psychology">Family Psychology</option>
        <option value="Gastroenterology">Gastroenterology</option>
        <option value="Family Medicine">Family Medicine</option>
        <option value="Occupational Therapist Feeding, Eating Swallowing">Occupational Therapist Feeding, Eating & Swallowing</option>
        <option value="Occupational Therapist Gerontology">Occupational Therapist Gerontology</option>
        <option value="Neuromuscular Medicine">Neuromuscular Medicine</option>
        <option value="Occupational Therapist Hand">Occupational Therapist Hand</option>
        <option value="Hospice and Palliative Medicine">Hospice and Palliative Medicine</option>
        <option value="Immunopathology">Immunopathology</option>
        <option value="Occupational Therapist Neurorehabilitation">Occupational Therapist Neurorehabilitation</option>
        <option value="Oral Medicinist">Oral Medicinist</option>
        <option value="Oral Maxillofacial Surgery">Oral & Maxillofacial Surgery</option>
        <option value="Pathology">Pathology</option>
        <option value="Psychiatry Neurology Sleep Medicine">Psychiatry & Neurology Sleep Medicine</option>
        <option value="Psychiatry Neurology Vascular Neurology">Psychiatry & Neurology Vascular Neurology</option>
        <option value="Family Medicine Adolescent Medicine">Family Medicine Adolescent Medicine</option>
        <option value="Cardiovascular Disease">Cardiovascular Disease</option>
        <option value="Clinical Cytogenetic">Clinical Cytogenetic</option>
        <option value="Clinical Electrophysiology">Clinical Electrophysiology</option>
        <option value="Clinical Molecular Genetics">Clinical Molecular Genetics</option>
        <option value="Clinical Exercise Physiologist">Clinical Exercise Physiologist</option>
        <option value="Emergency Medicine Pediatric Emergency Medicine">Emergency Medicine Pediatric Emergency Medicine</option>
        <option value="Emergency Medicine">Emergency Medicine</option>
        <option value="Ergonomic Physical Therapy">Ergonomic Physical Therapy</option>
        <option value="Pain Medicine">Pain Medicine</option>
        <option value="Pediatric Allergy">Pediatric Allergy</option>
        <option value="Pediatric Orthopedic Surgery">Pediatric Orthopedic Surgery</option>
        <option value="Chiropractic Neurology">Chiropractic Neurology</option>
        <option value="Pain Medicine">Pain Medicine</option>
        <option value="Pediatric Otolaryngology">Pediatric Otolaryngology</option>
        <option value="Pediatric Anesthesiology">Pediatric Anesthesiology</option>
        <option value="Pathology Clinical Informatics">Pathology Clinical Informatics</option>
        <option value="Pediatric Endocrinology">Pediatric Endocrinology</option>
        <option value="Pediatric Rehabilitation Medicine">Pediatric Rehabilitation Medicine</option>
        <option value="Pediatrics Clinical Laboratory Immunology">Pediatrics Clinical & Laboratory Immunology</option>
        <option value="Foot Ankle Surgery">Foot & Ankle Surgery</option>
        <option value="Prosthodontics">Prosthodontics</option>
        <option value="Radiological Physics">Radiological Physics</option>
        <option value="Rehabilitation Counselor Assistive Technology Supplier">Rehabilitation Counselor Assistive Technology Supplier</option>
        <option value="Psychiatry Neurology Neurodevelopmental Disabilities">Psychiatry & Neurology Neurodevelopmental Disabilities</option>
        <option value="Respiratory Therapist, Certified Home Health">Respiratory Therapist, Certified Home Health</option>
        <option value="Respiratory Therapist, Certified Neonatal/Pediatrics">Respiratory Therapist, Certified Neonatal/Pediatrics</option>
        <option value="Respiratory Therapist, Certified Pulmonary Function Technologist">Respiratory Therapist, Certified Pulmonary Function Technologist</option>
        <option value="Preventive Medicine Clinical Informatics">Preventive Medicine Clinical Informatics</option>
        <option value="Prosthetist">Prosthetist</option>
        <option value="Psychiatry Neurology Neuromuscular Medicine">Psychiatry & Neurology Neuromuscular Medicine</option>
        <option value="Psychiatry Neurology Pain Medicine">Psychiatry & Neurology Pain Medicine</option>
        <option value="Orthopedic Surgery">Orthopedic Surger</option>
        <option value="Orthotic Fitter">Orthotic Fitter</option>
        <option value="Orthopedic Physical Therapy">Orthopedic Physical Therapy</option>
        <option value="Pediatric Dentistry">Pediatric Dentistry</option>
        <option value="Pediatric Urology">Pediatric Urology</option>
        <option value="Pediatric Surgery">Pediatric Surgery</option>
        <option value="Pediatrics Hospice and Palliative Medicine">Pediatrics Hospice and Palliative Medicine</option>
        <option value="Pediatrics Medical Toxicology">Pediatrics Medical Toxicology</option>
        <option value="Physical Therapy Assistant">Physical Therapy Assistant</option>
        <option value="Plastic and Reconstructive Surgery">Plastic and Reconstructive Surgery</option>
        <option value="Pulmonary Disease">Pulmonary Disease</option>
        <option value="Rehabilitation Counselor Assistive Technology Practitioner">Rehabilitation Counselor Assistive Technology Practitioner</option>
        <option value="Reproductive Endocrinology">Reproductive Endocrinology</option>
        <option value="Respiratory Therapist, Registered Geriatric Care">Respiratory Therapist, Registered Geriatric Care</option>
        <option value="Respiratory Therapist, Registered Neonatal/Pediatrics">Respiratory Therapist, Registered Neonatal/Pediatrics</option>
        <option value="Respiratory Therapist, Registered Pulmonary Function Technologist">Respiratory Therapist, Registered Pulmonary Function Technologist</option>
        <option value="Respiratory Therapist, Certified Palliative/Hospice">Respiratory Therapist, Certified Palliative/Hospice</option>
        <option value="Respiratory Therapist, Certified Pulmonary Rehabilitation">Respiratory Therapist, Certified Pulmonary Rehabilitation</option>
        <option value="Respiratory Therapist, Registered">Respiratory Therapist, Registered</option>
        <option value="Respiratory Therapist, Certified Emergency Care">Respiratory Therapist, Certified Emergency Care</option>
        <option value="Otolaryngologic Sleep Medicine">Otolaryngologic Sleep Medicine</option>
        <option value="Technician/Technologist Orthoptist">Technician/Technologist Orthoptist</option>
        <option value="Chiropractic Thermography">Chiropractic Thermography</option>
        <option value="Surgery of the Hand">Surgery of the Hand</option>
        <option value="Technician/Technologist">Technician/Technologist</option>
        <option value="Specialist/Technologist Rehabilitation, Blind">Specialist/Technologist Rehabilitation, Blind</option>
        <option value="Pediatric Sport Medicine">Pediatric Sport Medicine</option>
        <option value="Physiastric Sports Medicine">Physiastric Sports Medicine</option>
        <option value="Sports Medicine Podiatry">Sports Medicine Podiatry</option>
        <option value="Sports Medicine">Sports Medicine</option>
        <option value="Pediatric Sleep Medicine">Pediatric Sleep Medicine</option>
        <option value="Transplant Hepatology">Transplant Hepatology</option>
        <option value="Addiction Counseling">Addiction Counseling</option>
        <option value="Addiction Medicine">Addiction Medicine</option>
        <option value="Adult Health Nurse Practitioner">Adult Health Nurse Practitioner</option>
        <option value="Advanced Practice Dental Therapist">Advanced Practice Dental Therapist</option>
        <option value="Adult Development Aging Psychology">Adult Development & Aging Psychology</option>
        <option value="Chemical Pathology">Chemical Pathology</option>
        <option value="Clinical Child Adolescent Psychology">Clinical Child & Adolescent Psychology</option>
        <option value="Chiropractics">Chiropractics</option>
        <option value="Dance Therapist">Dance Therapist</option>
        <option value="Bariatric Medicine OBGYN">Bariatric Medicine OBGYN</option>
        <option value="Assistant, Podiatric">Assistant, Podiatric</option>
        <option value="Audiology">Audiology</option>
        <option value="Hospice Palliative Medicine">Hospice & Palliative Medicine</option>
        <option value="Infectious Disease">Infectious Disease</option>
        <option value="Pediatric Infectious Disease">Pediatric Infectious Disease</option>
        <option value="General Dentistry">General Dentistry</option>
        <option value="Gerontology Nurse Practitioner">Gerontology Nurse Practitioner</option>
        <option value="Geriatric Medicine">Geriatric Medicine</option>
        <option value="Gynecologic Oncology">Gynecologic Oncology</option>
        <option value="Electrodiagnostic Medicine">Electrodiagnostic Medicine</option>
        <option value="Forensic Pathology">Forensic Pathology</option>
        <option value="Hematology">Hematology</option>
        <option value="Hand Surgery">Hand Surgery</option>
        <option value="Hepatology">Hepatology</option>
        <option value="Occupational Therapist Low Vision">Occupational Therapist Low Vision</option>
        <option value="Occupational Therapist Mental Health">Occupational Therapist Mental Health</option>
        <option value="Occupational Therapist Pediatrics">Occupational Therapist Pediatrics</option>
        <option value="Internal Medicine Clinical Cardiac Electrophysiology">Internal Medicine Clinical Cardiac Electrophysiology</option>
        <option value="Internal Medicine Hematology">Internal Medicine Hematology</option>
        <option value="Internal Medicine Hypertension Specialist">Internal Medicine Hypertension Specialist</option>
        <option value="Kinesiotherapist">Kinesiotherapist</option>
        <option value="OBGYN Nurse Practitioner">OBGYN Nurse Practitioner</option>
        <option value="Chiropractic Occupational Health">Chiropractic Occupational Health</option>
        <option value="Occupational Therapist Driving and Community Mobility">Occupational Therapist Driving and Community Mobility</option>
        <option value="Molecular Genetic Pathology">Molecular Genetic Pathology</option>
        <option value="Neonatal Perinatal Medicine">Neonatal & Perinatal Medicine</option>
        <option value="Neonatology Nurse Practitioner">Neonatology Nurse Practitioner</option>
        <option value="Neuromusculoskeletal Medicine, Sports Medicine">Neuromusculoskeletal Medicine, Sports Medicine</option>
        <option value="Naturopath">Naturopath</option>
        <option value="Mental Retardation Developmental Disabilities">Mental Retardation & Developmental Disabilities</option>
        <option value="Obstetrics">Obstetrics</option>
        <option value="Chiropractic Nutrition Medicine">Chiropractic Nutrition Medicine</option>
        <option value="Occupational Vision">Occupational Vision</option>
        <option value="Psychiatry Neurology Sports Medicine">Psychiatry & Neurology Sports Medicine</option>
        <option value="Ph.D. Medical Genetics">Ph.D. Medical Genetics</option>
        <option value="Prescribing (Medical) Psychology">Prescribing (Medical) Psychology</option>
        <option value="Vascular Interventional Radiology">Vascular & Interventional Radiology</option>
        <option value="Vascular Surgery">Vascular Surgery</option>
        <option value="Clinical Neurophysiology">Clinical Neurophysiology</option>
        <option value="Women's Health Nurse Practitioner">Women's Health Nurse Practitioner</option>
        <option value="Emergency Medicine Emergency Medical Services">Emergency Medicine Emergency Medical Services</option>
        <option value="Child Abuse Pediatrics">Child Abuse Pediatrics</option>
        <option value="Clinical Biochemical Genetics">Clinical Biochemical Genetics</option>
        <option value="Emergency Medicine Sports Medicine">Emergency Medicine Sports Medicine</option>
        <option value="Clinical Genetics (M.D.)">Clinical Genetics (M.D.)</option>
        <option value="Emergency Medicine Undersea and Hyperbaric Medicine">Emergency Medicine Undersea and Hyperbaric Medicine</option>
        <option value="Family Medicine Addiction Medicine">Family Medicine Addiction Medicine</option>
        <option value="Family Medicine Adult Medicine">Family Medicine Adult Medicine</option>
      </select>
    </div>
    <div class="col-md-3" id="search">
      <label>Location:</label>
      <input type="text" class="form-control" placeholder="Search by Location">
    </div>
    <div class="col-md-2" id="search">
      <button class="btn btn-default">Search</button>
    </div>
  </div>
  <div class="col-md-12">
    <table class="table table-hover">
      <tr class="transparentBG">
        <th>First Name</th>
        <th>Middle Name</th>
        <th>Last Name</th>
        <th>Title</th>
        <th>Specialty</th>
        <th>Gender</th>
        <th>NPI</th>
        <th>License</th>
        <th>Facility Name</th>
        <th>Accepting New Patients?</th>
        <th>Address</th>
        <th>Phone Number</th>
        <th>Languages</th>
        <th>Insurances</th>
        <th>Bio</th>
      </tr>
      <tr class="transparentBG" ng-repeat="doctor in doctors | filter:searchText | orderBy:'lastName'" ui-sref="doctor({id: doctor.id})">
        <td>{{ doctor.profile.first_name }}</td>
        <td>{{ doctor.profile.middle_name }}</td>
        <td>{{ doctor.profile.last_name }}</td>
        <td>{{ doctor.profile.title }}</td>
        <th>
          <p>{{ doctor.specialties[0].uid }}</p>
          <p>{{ doctor.specialties[1].uid }}</p>
          <p>{{ doctor.specialties[2].uid }}</p>
        </th>
        <td>{{ doctor.profile.gender }}</td>
        <td>{{ doctor.npi }}</td>
        <td>{{ doctor.licenses[0].state }}, {{ doctor.licenses[1].number }}</td>
        <td>{{ doctor.practices[0].name }}</td>
        <td>{{ doctor.practices[0].accepts_new_patients }}</td>
        <td>
          <p>
            <strong>Street: </strong>{{ doctor.practices[0].visit_address.street }}</p>
          <p>
            <strong>City: </strong>{{ doctor.practices[0].visit_address.city }}</p>
          <p>
            <strong>State: </strong>{{ doctor.practices[0].visit_address.state }}</p>
          <p>
            <strong>Zip: </strong>{{ doctor.practices[0].visit_address.zip }}</p>
        </td>
        <td>{{ doctor.practices[0].phones[1].number }}</td>
        <td>
          <p>{{ doctor.practices[0].languages[0].name }}</p>
          <p>{{ doctor.practices[0].languages[1].name }}</p>
          <p>{{ doctor.practices[0].languages[2].name }}</p>
        </td>
        <td>
          <p>{{ doctor.practices[0].insurance_uids[0] }}</p>
          <p>{{ doctor.practices[0].insurance_uids[1] }}</p>
          <p>{{ doctor.practices[0].insurance_uids[2] }}</p>
          <p>{{ doctor.practices[0].insurance_uids[3] }}</p>
          <p>{{ doctor.practices[0].insurance_uids[4] }}</p>
          <p>{{ doctor.practices[0].insurance_uids[5] }}</p>
          <p>{{ doctor.practices[0].insurance_uids[6] }}</p>
          <p>{{ doctor.practices[0].insurance_uids[7] }}</p>
          <p>{{ doctor.practices[0].insurance_uids[8] }}</p>
          <p>{{ doctor.practices[0].insurance_uids[9] }}</p>
          <p>{{ doctor.practices[0].insurance_uids[10] }}</p>
          <p>{{ doctor.practices[0].insurance_uids[11] }}</p>
          <p>{{ doctor.practices[0].insurance_uids[12] }}</p>
          <p>{{ doctor.practices[0].insurance_uids[13] }}</p>
          <p>{{ doctor.practices[0].insurance_uids[14] }}</p>
          <p>{{ doctor.practices[0].insurance_uids[15] }}</p>
          <p>{{ doctor.practices[0].insurance_uids[16] }}</p>
          <p>{{ doctor.practices[0].insurance_uids[17] }}</p>
          <p>{{ doctor.practices[0].insurance_uids[18] }}</p>
          <p>{{ doctor.practices[0].insurance_uids[19] }}</p>
          <p>{{ doctor.practices[0].insurance_uids[20] }}</p>
        </td>
        <td>{{ doctor.profile.bio }}</td>
      </tr>
    </table>
  </div>
</div>