<div ng-controller="userController" class="container">
  <div class="col-sm-6 col-sm-offset-5">
    <h1 class="head">{{ heading }}</h1>
    <h4 class="header">{{ header }}</h4>
  </div>
  <form>
    <div class="col-sm-4 col-sm-offset-6">
      <div class="row">
        <input class="input" type="text" placeholder="First Name" ng-model="user.firstName">
        <p class="red-text" ng-show="firstNameReq">First Name Required</p>
      </div>
      <div class="row">
        <input class="input" type="text" placeholder="Last Name" ng-model="user.lastName">
        <p class="red-text" ng-show="lastNameReq">Last Name Required</p>
      </div>
      <div class="row">
        <input class="input" type="text" placeholder="Email Address" ng-model="user.email" ng-change="user.email = (user.email | lowercase)">
        <p class="red-text" ng-show="emailReq">Email Address Required</p>
      </div>
      <div class="row">
        <input class="input" type="password" placeholder="Password" ng-model="user.password">
        <p class="red-text" ng-show="passwordReq">Invalid Password</p>
      </div>
      <div class="row">
        <input class="input" type="password" placeholder="Confirm Password" ng-model="user.confirmPassword">
        <p class="red-text" ng-show="passwordReq">Confirm Password</p>
        <p class="red-text" ng-show="passwordError">Passwords do not match</p>
      </div>
      <div class="row">
        <button class="update btn btn-sm" ng-show="submitButton" ng-click="addUser(user)">Register</button>
        <button class="cancel btn btn-sm" ng-show="submitButton" ui-sref="home">Cancel</button>
        <button class="update btn btn-sm" ng-show="!submitButton" ng-click="updateUser(user)">Update</button>
        <button class="cancel btn btn-sm" ng-show="!submitButton" ui-sref="account">Cancel</button>
      </div>
    </div>
  </form>
</div>